.form {
    padding: 3rem;
    background-color: #acacac;
 height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.formContent {
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding: 2rem;

}

.form-detail {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 2rem;
}

@media only screen and (min-width: 600px) {
    .form {
        min-height: 800px;
    }
} 