.footer-text {
  font-size: 0.8vw;
  margin-top: 1vw;
  text-align: left;
}

.address {
  margin: 2vw 0 2vw 0;
  line-height: 0.5vh;
}

.footer-div {
padding: 2rem;
  background-image: url('../../assets/SFBackground.jpg');
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

